html, body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 100px;
  background-color:#222;
  height: 100vh;
}

@media(max-width:700px){
  body{
    padding-bottom: 0px;
    padding-top: 20px;
    justify-content: center;

  }
  
}
@media(max-width:500px){

  .letters{

    min-width: min-content;
  }
}