html, body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  background-color:#222;
  min-height: 100vh;

}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}


@media(max-width:500px){

  .letters{

    min-width: min-content;
  }
}